@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap");
// https://fonts.google.com/specimen/Archivo?category=Serif,Sans+Serif&sidebar.open=true&selection.family=Archivo
@import url("https://fonts.googleapis.com/css2?family=Archivo&display=swap");
// https://fonts.google.com/specimen/Mulish?preview.text=Web%20Development&preview.text_type=custom&sidebar.open=true&selection.family=Mulish:wght@600;900
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@600;900&display=swap");
// https://fonts.google.com/specimen/Romanesco?category=Handwriting&preview.text=skills&preview.text_type=custom&sidebar.open=true&selection.family=Romanesco
@import url("https://fonts.googleapis.com/css2?family=Tangerine&display=swap");

$font-main: #ffffff;
$font-dark: black;
$font-soft: rgb(194, 194, 194);
$font-softer: rgb(119, 119, 119);

$color-primary: #00bfff;
$color-primary-disabled: #8de2ff;
$color-secondary: #fa4d56;
$color-tertiary: #18181875;
$color-tertiary-highlight: #5a5a5a75;

$font-xs: 8px;
$font-small: 8px;
$font-normal: 16px;
$font-large: 24px;
$font-xl: 32px;
$font-xxl: 40px;

$font-style-1: "Archivo", sans-serif;
$font-style-2: "Tangerine", cursive;
$font-style-3: "Mulish", sans-serif;

$background-color: rgb(57, 60, 65);

@keyframes wave2 {
  0% {
    left: -400px;
  }

  50% {
    left: 0px;
  }

  100% {
    left: -400px;
  }
}

@keyframes wave1 {
  0% {
    right: -400px;
  }

  50% {
    right: 0px;
  }

  100% {
    right: -400px;
  }
}
@keyframes arrow {
  0% {
    top: 2px;
  }
  10% {
    top: 12px;
  }

  30% {
    top: 2px;
  }

  50% {
    top: 17px;
  }
  100% {
    top: 2px;
  }
}

@keyframes arrowText {
  0% {
    transform: translate(0px, 0px) scale(1) rotate(0deg);
  }
  10% {
    transform: translate(-5px, -5px) scale(1.2) rotate(-10deg);
  }

  30% {
    transform: translate(0px, 0px) scale(0.9) rotate(10deg);
  }

  50% {
    transform: translate(-5px, -5px) scale(1.2) rotate(-5deg);
  }
  100% {
    transform: translate(0px, 0px) scale(1) rotate(0deg);
  }
}
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  // font-family: $font-style-2;
  color: $font-main;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: $background-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

.container {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.arrow_up {
  position: fixed;
  bottom: 2%;
  right: 2%;
  opacity: 50%;
}

.skills {
  h1 {
    font-family: $font-style-2;
    text-align: left;
    font-weight: 50;
    font-size: $font-xxl;
  }

  hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.75),
      rgba(255, 255, 255, 0)
    );
  }
}

.font {
  font-family: $font-style-3;
  font-size: $font-normal;
  color: $font-main;

  &--large {
    font-size: $font-large;
  }
  &--xl {
    font-size: $font-xl;
  }
  &--xxl {
    font-size: $font-xxl;
  }
  &--soft {
    font-size: $font-soft;
  }
  &--softer {
    font-size: $font-softer;
  }
  &--bold {
    font-weight: bold;
  }
}

.no_margin {
  margin: 0px;
}

.link {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 100%;
  width: 100%;
}

.row {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
  margin: 0px 20px;

  &--space {
    justify-content: space-between;
  }

  &--start {
    justify-content: flex-start;
  }

  &--align-center {
    align-items: center;
    div {
      margin: 0px;
    }
  }
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 100%;
  margin: 0 0;
  align-self: flex-start;

  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    height: 80%;
    min-width: 320px;
    width: 600px;
    background-color: $color-tertiary;

    &__item {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      font-size: 16px;

      &:hover {
        background-color: $color-primary;
        cursor: pointer;
      }
    }
  }
}

.about {
  position: relative;
}

.strings {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 50%;

  ul {
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: space-around;

    li {
      position: relative;
      width: 5px;
      height: random(500) + px;
      background-color: blue;

      div {
        position: absolute;
        bottom: -50px;
      }
    }
  }
}

.image_wrapper {
  min-width: 280px;
  max-width: 440px;
  margin: 20px;

  &--large {
    display: flex;
    height: 75vh;
    max-width: 100%;
    align-self: flex-start;
    margin-bottom: auto;
    img {
      width: 100%;
      object-fit: cover;
    }
  }

  &--grid {
    width: 100%;
    height: 100%;
    max-height: calc(100vh / 3);
    transition: 200ms ease-in-out;
    display: flex;
    justify-content: center;
    background: rgb(57, 57, 57);
    background: rgb(0, 0, 0);
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 1) 0%,
      rgb(100, 100, 100) 50%,
      rgba(0, 0, 0, 1) 100%
    );

    &:hover {
      transition: 200ms ease-in-out;
      cursor: pointer;
      border: 5px solid $color-primary;
    }

    img {
      width: 100%;
      height: 100%;
      overflow: hidden;
      object-fit: cover;
      &:hover {
        width: auto;
      }
    }
  }

  img {
    width: 100%;
  }
}

.hyperlink {
  text-decoration: underline;
  color: $color-primary;

  &:hover {
    cursor: pointer;
  }
}

.grid {
  display: grid;
  min-height: 100vh;
  width: 100%;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  min-width: 450px;

  div {
    position: relative;
  }

  &__icon {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: $color-tertiary;
  }
}

@media only screen and (max-width: 1200px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 480px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

.text_block {
  max-width: 90%;
  min-width: 220px;
  position: relative;
  margin: 20px;
  overflow-wrap: break-word;

  &--only_margin_bottom {
    margin-top: 0px;
  }
  &__header {
    font-size: $font-xxl;
    color: $font-normal;
    margin-bottom: 10px;
    line-height: 1em;

    &--primary {
      color: $color-primary;
    }

    &--secondary {
      color: $color-secondary;
    }
  }

  &__text {
    text-align: left;
    max-width: 390px;
    margin: 10px 0;
  }
}

.circle {
  position: absolute;
  width: 80px;
  height: 80px;
  padding: 20px;
  border-radius: 50%;
  background-color: $background-color;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 140px;
    height: 140px;
  }

  &:hover {
    cursor: crosshair;
  }
}

#start {
  background: rgb(24, 24, 24);
  background: linear-gradient(
    180deg,
    rgba(24, 24, 24, 1) 0%,
    rgba(57, 60, 65, 1) 100%
  );
}

#contact {
  background: rgb(24, 24, 24);
  background: linear-gradient(
    0deg,
    rgba(24, 24, 24, 1) 0%,
    rgba(57, 60, 65, 1) 100%
  );
}

.pointer {
  &:hover {
    cursor: pointer;
  }
}

.platforms {
  position: absolute;
  display: flex;
  bottom: 0px;
  list-style: none;

  &__item {
    padding: 10px;
    background-color: $color-tertiary;

    &:hover {
      background-color: $color-primary;
    }
  }
}

#message {
  font-style: $font-style-1;
  padding: 10px 10px;
  font-size: $font-normal;
  color: $font-dark;
  text-indent: 0px;
}

.contact {
  margin-bottom: 80px;

  &__header {
    font-size: $font-xxl;
    color: $font-main;
    margin: 10px 0;
  }

  &__text {
    max-width: 390px;
    margin: 10px 0;
  }

  input,
  textarea {
    font-style: $font-style-1;
    text-indent: 10px;
    min-height: 40px;
    min-width: 280px;
    border-radius: 10px;
    border: 0;
    color: $font-dark;
    font-size: $font-normal;
  }

  &__form {
    display: flex;
    flex-direction: column;
    * {
      margin: 10px 0;
      // color: black;
    }

    &__status {
      background-color: $color-primary;
      min-width: 50%;
      min-height: 40px;
      padding: 0 10px;
      border-radius: 5px;
      color: $font-main;

      &--fail {
        background-color: $color-secondary;
      }
    }

    &__error {
      background-color: $color-secondary;
      min-width: 280px;
      min-height: 40px;
      padding: 0 10px;
      border-radius: 5px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: $font-main;
    }

    &__button {
      width: 90px;
      height: 40px;
      background-color: $color-primary;
      color: $font-main;
      border-radius: 5px;
      border: 0;
      margin-right: 20px;
      font-size: $font-normal;

      &:hover {
        border: 1px solid white;
        cursor: pointer;
      }
      &:disabled {
        background-color: rgb(124, 124, 124);
        &:hover {
          border: 0;
          cursor: default;
        }
      }
    }
  }
}

.wrap-reverse {
  flex-wrap: wrap-reverse;
}

.content {
  height: 100vh;
  width: 100%;
  overflow-y: scroll;
  // scroll-snap-type: y proximity;
  // scroll-snap-stop: always;

  section {
    min-height: 100vh;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    overflow: hidden;

    .block {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      min-height: 100vh;

      &--reverse {
        justify-content: flex-end;
      }

      &--wrap-reverse {
        flex-wrap: wrap-reverse;
      }

      position: relative;

      &__aside {
        display: flex;
        flex: 1;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        min-height: 100vh;
        margin: 0 20px;

        &--no_margin {
          margin: 0px;
          justify-content: flex-start;
        }

        &__row {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;
        }

        &__tags {
          display: flex;
          position: relative;
          justify-content: center;
          flex-wrap: wrap;
          max-width: 390px;
          margin: 20px;

          &:hover {
            cursor: crosshair;
          }
          &__item {
            background-color: $color-primary;
            padding: 0px 10px;
            // height: 40px;
            text-align: center;
            line-height: 35px;
            border-radius: 10px;
            margin: 2px;
            pointer-events: none;
            user-select: none;

            &--secondary {
              background-color: $color-secondary;
            }
          }
        }
      }

      &__content {
        min-width: 60%;
        display: flex;
        flex: 1.5;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        min-height: 100vh;

        &--primary {
          background-color: $color-tertiary;
        }

        &--secondary {
          background-color: $color-tertiary;
        }

        &__row {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;
          margin: 0 20px;
        }
      }

      &__arrow {
        position: absolute;
        bottom: 0%;
        transition: 200ms ease-in-out;

        &:hover {
          transition: 200ms ease-in-out;
          transform: scale(1.2);
          cursor: pointer;
        }
      }
    }

    .intro {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      align-self: flex-start;

      justify-content: center;
      align-items: center;
      align-content: center;

      &__name {
        display: block;
        transition: 300ms ease-in-out;
        width: 325px;
        position: relative;
        font-family: $font-style-1;
        font-size: $font-xxl;
        text-align: left;
        font-weight: bold;

        &__welcome {
          position: absolute;
          top: -3px;
          left: 145px;
          color: $color-primary;
          opacity: 0;
          transition: 1s ease-in-out;
        }
      }

      &__professions {
        display: block;
        position: absolute;
        left: 75px;
        top: 41px;

        transition: 300ms ease-in-out;
        margin: 5%;
        width: 350px;
        font-family: $font-style-1;
        font-size: $font-large;
        text-align: left;
        font-weight: bold;
        color: rgb(73, 73, 73);

        .Typewriter__wrapper {
          color: $font-softer;
        }
      }

      &__box {
        position: absolute;
        left: 170px;
        top: 98px;
        width: 150px;
        height: 70px;
        font-size: $font-normal;
        text-align: center;
        background: $color-secondary;
        color: $font-normal;
        vertical-align: bottom;
        border-radius: 25px;
        transition: 150ms ease-in-out;
        opacity: 0;
        // border: 1px dotted $color-primary;
        &:hover {
          // transform: scale(1.1);
          transition: 150ms ease-in-out;
          // border: 1px solid $color-primary;

          cursor: pointer;
          // box-shadow: 0px -4px 4px rgb(30, 30, 30);
        }
        svg {
          position: absolute;
          left: 20px;
          top: 2px;
          opacity: 100;
          animation-name: arrow;
          animation-delay: 6s;
          animation-duration: 2s;
          animation-iteration-count: infinite;
        }
        span {
          position: absolute;
          left: 75px;
          top: 15px;
          opacity: 100;
          color: $font-normal;

          animation-name: arrowText;
          animation-delay: 6s;
          animation-duration: 2s;
          animation-iteration-count: infinite;
        }
      }
    }

    .opaque {
      opacity: 100;
      transition: 1s ease-in-out;
    }

    .landing {
      position: relative;
    }
  }

  .font {
    color: white;
    &--soft {
      color: rgb(216, 216, 216);
    }
  }
}
